{
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "plugins": ["syntax-object-rest-spread"]
    }
  }
}
