{
  "presets": [
    // ["@babel/preset-env", { "modules": false }]
    ["env", { "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        // ["@babel/preset-env", { "targets": { "node": "current" }}]
        ["env", { "targets": { "node": "current" }}]
      ],
      "plugins": ["syntax-object-rest-spread"]
    }
  }
}
